CookBook/bin/Debug/netcoreapp2.2/CookBook.Model.dll
CookBook/bin/Debug/netcoreapp2.2/CookBook.API.pdb
CookBook/bin/Debug/netcoreapp2.2/CookBook.API.dll
CookBook/bin/Debug/netcoreapp2.2/CookBook.API.deps.json
CookBook.Service/obj/project.assets.json
CookBook.Service/obj/Debug/netcoreapp2.2/CookBook.Service.pdb
CookBook.Service/obj/Debug/netcoreapp2.2/CookBook.Service.dll
CookBook.Service/obj/Debug/netcoreapp2.2/CookBook.Service.csprojAssemblyReference.cache
CookBook.Service/obj/Debug/netcoreapp2.2/CookBook.Service.csproj.FileListAbsolute.txt
CookBook.Service/obj/Debug/netcoreapp2.2/CookBook.Service.csproj.CoreCompileInputs.cache
CookBook/obj/Debug/netcoreapp2.2/CookBook.API.dll
CookBook/obj/Debug/netcoreapp2.2/CookBook.API.csprojAssemblyReference.cache
CookBook/obj/Debug/netcoreapp2.2/CookBook.API.csproj.FileListAbsolute.txt
CookBook/obj/Debug/netcoreapp2.2/CookBook.API.csproj.CoreCompileInputs.cache
CookBook/obj/Debug/netcoreapp2.2/CookBook.API.assets.cache
CookBook/obj/CookBook.API.csproj.nuget.dgspec.json
CookBook/obj/CookBook.API.csproj.nuget.cache
CookBook/bin/Debug/netcoreapp2.2/CookBook.Service.pdb
CookBook/bin/Debug/netcoreapp2.2/CookBook.Service.dll
CookBook/bin/Debug/netcoreapp2.2/CookBook.Model.pdb
CookBook.Service/obj/Debug/netcoreapp2.2/CookBook.Service.assets.cache
CookBook.Service/obj/CookBook.Service.csproj.nuget.dgspec.json
CookBook.Service/obj/CookBook.Service.csproj.nuget.cache
CookBook.Service/bin/Debug/netcoreapp2.2/CookBook.Service.pdb
CookBook.Service/bin/Debug/netcoreapp2.2/CookBook.Service.dll
CookBook.Service/bin/Debug/netcoreapp2.2/CookBook.Service.deps.json
.vs/CookBook/v16/.suo
.vs/CookBook/config/applicationhost.config
.vs/CookBook/DesignTimeBuild/.dtbcache
CookBook.Model/obj/Debug/netcoreapp2.2/CookBook.Model.csproj.CoreCompileInputs.cache
CookBook.Model/obj/Debug/netcoreapp2.2/CookBook.Model.assets.cache
CookBook.Model/bin/Debug/netcoreapp2.2/CookBook.Model.pdb
CookBook.Model/bin/Debug/netcoreapp2.2/CookBook.Model.dll
CookBook.Data/obj/Debug/netcoreapp2.2/CookBook.Data.csproj.FileListAbsolute.txt
CookBook.Data/obj/Debug/netcoreapp2.2/CookBook.Data.assets.cache
.vs/CookBook/v16/Server/sqlite3/storage.ide-wal
CookBook/obj/project.assets.json
CookBook/obj/Debug/netcoreapp2.2/CookBook.API.pdb
CookBook.Service/bin/Debug/netcoreapp2.2/CookBook.Model.pdb
CookBook.Service/bin/Debug/netcoreapp2.2/CookBook.Model.dll
CookBook.Model/obj/Debug/netcoreapp2.2/CookBook.Model.pdb
CookBook.Model/obj/Debug/netcoreapp2.2/CookBook.Model.dll
.vs/CookBook/v16/Server/sqlite3/storage.ide-shm
.vs/CookBook/v16/Server/sqlite3/storage.ide
.vs/CookBook/v16/Server/sqlite3/db.lock
